<div id="index">
  <h1 id="main-header">The Jordan Haynes Talent</h1>
  <div id="intro"><p>We all have that one friend that can alphabetize words extremely fast</p></div>
  <div id="input">
    <%= form_tag(main_sort_path, remote: true) do %>
      <%= text_field_tag :phrase %>
      <%= submit_tag "submit" %>
    <% end %>
  </div>
  <div id="output"></div>
</div>
