<div id="index">
  <h1>The Jordan Haynes Talent</h1>
  <div id="input">
    <%= form_tag(main_sort_path) do %>
      <%= text_field_tag :phrase %>
      <%= submit_tag "submit" %>
    <% end %>
  </div>
</div>
